input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
	-moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

form {
	box-sizing: border-box;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: .35rem 0;
	padding-top: 0;
}

input, textarea {
	height: .64rem;
	width: 3.17rem;
	padding: 0 0.1rem;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 0.2rem;
	color: #000;
	background: white;
	text-align: center;
	border: none;
	margin-bottom: 0.4rem;
	background: #FFFFFF;
	border: 0.01rem solid #D3D3D3;
box-sizing: border-box;
border-radius: 40px;
}

input::placeholder {
	font-size: 0.18rem;
	color: #A9A9A9;
	font-family: inherit;
}

.policy_wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 1rem;
	background-color: #3b3c3d;
	font-size: 0.16rem;
	color: #fff;
	text-align: center;
	padding: .1rem;
}

.policy_wrap a {
	color: #7c7e86;
}