.owl-carousel .owl-dots {
	padding: .2rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.owl-carousel .owl-dots button {
	width: 0.14rem;
	height: 0.14rem;
	border-radius: 100%;
	background: #D8F1FF;
	margin: 0 3px;
}

.owl-carousel .owl-dots button.active {
	background: #4FAFE2;
}